<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel='shortcut icon' href='../../static/images/cuongpro.png' />
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div style="display: flex; justify-content:center; align-items:center; flex-direction: column">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_m6k6uhad.json"  background="transparent"  speed="1"  style="width: 50%;"  loop autoplay></lottie-player>
        <p style="color: gray; margin: 20px 0">Ui trang mà mi đang tìm kiếm không có đâu !</p>
        <button type="button" class="btn btn-outline-info"><a href="/" style="text-decoration: none">Home</a></button>
    </div>
</body>
</html>